{% extends '@App/base_layout.html.twig' %}

{% block title %}
    Upload List
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Surname</th>
            <th scope="col">File</th>
        </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.firstName }}</td>
                    <td>{{ record.surname }}</td>
                    <td><a target="_blank" href="{{ asset('upload/images/' ~ record.file) }}">View file</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}